body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #f4f4f4;
    color: #333;
    text-align: center; /* Centraliza o conteúdo textual */
}

#csvFileInput {
    margin: 20px 0; /* Margem para separar do botão */
}

#output {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centraliza os itens de #output horizontalmente */
    width: 100%;
}

table {
    border-collapse: collapse;
    margin-top: 20px; /* Margem acima da tabela */
    background: white;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #4CAF50;
    color: white;
}

tbody tr:nth-child(odd) {
    background-color: #f2f2f2;
}
